*{
	text-decoration: none;
	
}

 body{
 	/*background-image: url(https://images.pexels.com/photos/5345033/pexels-photo-5345033.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
 	background-repeat: no-repeat;
 	background-size: cover;*/
 }

.text:hover:first-line{
  color:red;

}
.text:first-letter{
font-style: italic;
font-size: 50px;
}
ul{
  list-style: none;
  padding: 10px;
}
ul li:before{
content: '';

width: 10px;
height: 10px;
border-radius: 50%;
background-color: red;
display: inline-block;
}
ul li:after{
  content: '>'
}

.paralaks{
	width:100%;
	height: 500px;
}

.main_parralx{
	background-image: url('pexels-rikka-ameboshi-3420047.jpg');
	background-size: cover;
	padding: 100px;
	background-attachment: fixed;
	}

.about{
	width: 100%;
	text-align: justify;
	color: #fff;
	text-shadow: 10px 1px 10px black;	
}

.title{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 10px 1px 10px black;
}

